@import "./color.scss";

.navigation {
  background-color: $nav-bar;
  color: #fff;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;

  &.collapsed {
    width: 80px;

    .profileName,
    .toggleButton span,
    .menuItem a span {
      display: none;
    }

    .profileImage {
      width: 30px;
      height: 30px;
    }

    .menuItem {
      justify-content: center;
    }

    .subMenu {
      left: 80px;
      width: 170px;
    }
  }

  .toggleButton {
    align-self: flex-end;
    padding: 10px;
    cursor: pointer;

    .faChevronLeft,
    .faChevronRight {
      color: #fff;
    }

    .svg-inline--fa {
      height: 1rem;
      vertical-align: unset;
    }
  }

  .menu {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
    padding-top: 20px;

    .menuItem {
      padding: 20px 18px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      position: relative;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      a,
      button,
      span {
        color: #fff;
        text-decoration: none;
        margin-left: 10px;
        font-size: 14px;
        font-weight: bold;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
      }

      .icon {
        margin-right: 10px;
        font-size: 18px;
      }

      &.open .subMenu {
        display: block;
      }

      .subMenu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 170px;
        background-color: $nav-bar;
        z-index: 1001;
        border-radius: 0 4px 4px 0;
        overflow: hidden;
        transition: left 0.3s ease;

        .subMenuItem {
          padding: 10px 18px;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }

          a {
            color: #fff;
            text-decoration: none;
            margin-left: 10px;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            align-items: center;
          }

          .menuIcon {
            margin-right: 10px;
            font-size: 18px;
          }
        }
      }
    }
  }

  .socialLinks {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid $gray1;

    a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      font-size: 16px;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
