.dashboard-box {
  background-color: #f2f6ff;
  border-radius: 6px;
  padding: 10px 20px;
  margin-bottom: 10px; }
  .dashboard-box .title-area h5 {
    margin: 0; }

.block {
  width: calc(100% - 40px); }

.halk {
  width: calc(50% - 40px); }
