.footer {
  background-color: #eee;
  color: white;
  font-size: 14px;
  position: absolute;
  width: 100%;
  bottom: 0; }

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }

.footerBottom {
  background-color: #eee;
  padding: 10px 0;
  text-align: center;
  color: #222; }
